<h1>Bulk Discounts Index Page</h1>

  <%= button_to "New Discount", "/merchant/#{@merchant.id}/bulk_discounts/new", method: :get %>

<% @merchant.bulk_discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <%= link_to "#{discount.percent}", "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}" %> percent off of <%= "#{discount.threshold}" %> or more items
  </section>
<% end %>